<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="deviceSettings"
             type="ControlEntradaSalida.Configuration.DeviceSettingsSection, ControlEntradaSalida" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <clear />
    <add name="mysql"
         connectionString="server=localhost;user=root;database=access_control_system;port=3306;password=12345678"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="GrpcListenPort" value="5001" />
    <add key="LogDirectory" value="C:\Logs\ControlEntradaSalida" />
    <add key="EnableSynchronizationDebugLog" value="true" />
    <add key="EnableDeviceConnectionDebugLog" value="true" />
  </appSettings>

  <deviceSettings>
    <devices>
      <device id="1"
              name="主厂区门禁"
              ipAddress="192.168.1.10"
              port="8000"
              username="admin"
              password="123456"
              enabled="true" />
      <device id="2"
              name="访客通道"
              ipAddress="192.168.1.11"
              port="8000"
              username="admin"
              password="123456"
              enabled="false" />
    </devices>
  </deviceSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe"
                          publicKeyToken="b03f5f7f11d50a3a"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory"
                          publicKeyToken="cc7b13ffcd2ddd51"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
